<!DOCTYPE html>

<html>
<head>
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<link href="~/css/layout.css" rel="stylesheet" />
	@RenderSection("Header")
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<h1>Layout Page</h1>
	<div class="container content">
		@RenderBody()
	</div>
</body>
</html>