.user-register, .user-login {
	margin-top: 50px;
	text-align: center;
}

.reg-form-group {
	margin-bottom: 15px;
}

.reg-form-group:first-child {
	margin-top: 30px;
}

.reg-form-hint {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
}

.reg-form-error {
	display: block;
	font-size: 13px;
	font-family: sans-serif;
	color: red;
}

.reg-form-submit-button {
	margin: 30px auto;
}

.login-form-group {
	margin-bottom: 15px;
}

#RememberMe {
	width: 20px;
	height: 15px;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	body {
		/*background-image: url('../images/background/main_background_320.jpg');*/
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	body {
		/*background-image: url('../images/background/main_background_480.jpg');*/
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		/*background-image: url('../images/background/main_background_768.jpg');*/
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		/*background-image: url('../images/background/main_background_992.jpg');*/
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		/*background-image: url('../images/background/main_background_1200.jpg');*/
	}
}