.user-register {
	text-align: center;
	font-family: 'Segoe Print';
}

.reg-form-label {
	display: block;
	font-size: larger;
}

.reg-form-control {
	display: block;
	margin: auto;
}

.reg-form-group {
	margin-bottom: 20px;
}

.reg-form-error {
	font-size: 12px;
	color: #f00;
}

.user-login {
	text-align: center;
	font-family: 'Segoe Print';
}

.login-form-label {
	display: block;
	font-size: larger;
}

.login-form-control {
	display: block;
	margin: auto;
}

.login-form-group {
	margin-bottom: 20px;
}

.login-form-error {
	font-size: 12px;
	color: #f00;
}

.login-register {
	margin-top: 60px;
	padding: 0;
	text-align: center;
	color: steelblue;
	font-size: 17px;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	body {
		/*background-image: url('../images/background/main_background_320.jpg');*/
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	body {
		/*background-image: url('../images/background/main_background_480.jpg');*/
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		/*background-image: url('../images/background/main_background_768.jpg');*/
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		/*background-image: url('../images/background/main_background_992.jpg');*/
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		/*background-image: url('../images/background/main_background_1200.jpg');*/
	}
}