.post {
	padding: 10px 20px 0 0;
}

.posts-top-offset {
	height: 20px;
}

.post-date {
	display: inline-block;
	text-align: right;
	font-family: 'Lucida Handwriting';
	font-style: oblique;
	font-size: 17px;
	font-weight: bold;
	background-color: antiquewhite;
	padding: 5px;
	margin-bottom: 10px;
}

.post-date-date {
	display: inline-block;
}

.post-date-date-day {
	display: inline-block;
	margin-right: 2px;
}

.post-date-date-month {
	display: inline-block;
	margin-right: 2px;
}

.post-date-time {
	display: inline-block;
}

.post-info {
	display: block;
	vertical-align: top;
	font-family: 'Segoe Print';
	line-height: 22px;
}

.post-info-title {
}

.post-info p {
	font-size: 17px;
}

.post-info h3 {
	margin-top: 0;
	font-size: 26px;
}

.post-info img {
	margin-bottom: 20px;
}

.additional-info {
	display: block;
	padding-top: 0;
	font-family: 'Segoe Print';
}

.additional-info-section {
	display: block;
	width: 100%;
	margin-bottom: 60px;
}

.additional-info-title {
	font-size: 17px;
}

.post-mini-item {
	display: block;
	width: 100%;
	margin-bottom: 30px;
}

.post-mini-icon {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 20px;
}

.post-mini-info {
	display: inline-block;
	vertical-align: top;
	width: 60%;
}

.post-mini-title {
	display: block;
	margin-bottom: 4px;
	font-weight: bold;
}

.post-mini-date {
	display: block;
	font-family: 'Lucida Handwriting';
}

.additional-info a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.post-mini-info a {
	color: #337ab7;
}

	.post-mini-info a:hover {
		color: #d6b161;
	}

.autor-avatar {
	display: block;
	height: 400px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	body {
		/*background-image: url('../images/background/main_background_320.jpg');*/
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	body {
		/*background-image: url('../images/background/main_background_480.jpg');*/
	}

	.posts-top-offset {
		height: 50px;
	}

	.post-date {
		display: inline-block;
		width: 90px;
		height: 84px;
		float: left;
		margin-left: 0;
		margin-bottom: 5px;
		padding: 17px;
		vertical-align: top;
		text-align: center;
		color: #fff;
		background-color: #333;
		font-family: 'Lucida Handwriting';
		font-size: 16px;
		font-style: normal;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		box-shadow: 4px 4px 1px #888;
	}

	.post-date-time {
		display: block;
		vertical-align: bottom;
		margin-right: -13px;
		margin-bottom: -13px;
		float: right;
		font-size: 11px;
	}

	.post-info {
		margin-left: 115px;
	}

	.additional-info {
		margin-left: 115px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		/*background-image: url('../images/background/main_background_768.jpg');*/
	}

	.post-date {
		width: 126px;
		height: 125px;
		float: left;
		font-size: 28px;
	}

	.post-date-time {
		float: right;
		font-size: 16px;
	}

	.post-info {
		margin-left: 176px;
	}

	.additional-info {
		margin-left: 176px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		/*background-image: url('../images/background/main_background_992.jpg');*/
	}

	.additional-info {
		margin-left: 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		/*background-image: url('../images/background/main_background_1200.jpg');*/
	}
}
