/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#main {
		width: 100%;
	}

	#sitebar {
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	/*.content {
		margin: 0 auto;
	}*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#main {
		width: 68%;
		margin-right: 4%;
	}

	#sitebar {
		width: 27%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


#main {
	display: inline-block;
	vertical-align: top;
}

#sitebar {
	display: inline-block;
	vertical-align: top;
	border: 2px solid rgb(248, 244, 244);
	padding: 30px;
	font-family: 'Segoe Print';
}

.post-image img {
	max-width: 100%;
	min-width: 100%;
}

.post-title {
	display: block;
	font: bold 40px 'Playfair Display';
	color: black;
	text-align: center;
}

.post-info {
	font: 17px 'Segoe Print';
}

.post-wave {
	margin: 30px auto;
	background: url('../images/delimeters/wave.png') center no-repeat;
}

.post-short-notes {
	text-align: center;
	font-family: 'Segoe Print';
	font-size: 13px;
	margin-top: 20px;
}

	.post-short-notes i {
		color: red !important;
	}

.post-info p {
	text-indent: 20px;
}

.post-desc {
	padding: 0 1%;
	margin-bottom: 40px;
}

.delimeter {
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

	.delimeter hr {
		flex: 1;
	}

	.delimeter a {
		text-decoration: none;
	}

.read-more {
	padding: 5px 15px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	border: 1px solid #f8f4f4;
	background-color: #010101;
	border-color: #010101;
	color: #fff;
}

	.read-more:hover {
		background-color: rgb(204, 51, 65);
		cursor: pointer;
	}

.author-image {
	max-width: 340px;
	margin: auto;
}

	.author-image img {
		max-width: 100%;
		min-width: 100%;
		border-radius: 500px;
		margin-bottom: 20px;
	}

.about-me-title {
	margin-top: 30px;
	display: block;
	text-align: center;
}

#sitebar hr {
	width: 80%;
}

.about-me-desc {
	display: block;
	text-align: center;
}

.post-control-buttons {
	margin-bottom: 10px;
	text-align: right !important;
}

	.post-control-buttons a:link {
		text-decoration: none
	}

	.post-control-buttons a:hover {
		text-decoration: none;
	}

	.post-control-buttons a:visited {
		text-decoration: none
	}

	.post-control-buttons a:active {
		text-decoration: none
	}


.post-edit-button {
	margin-right: 3px;
	background-color: wheat;
}

.post-remove-button {
	background-color: red;
}

.post-remove-button, .post-edit-button {
	position: relative;
	font-size: 25px;
	color: black;
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius: 7px;
	cursor: pointer;
}

.post-remove-button:hover, .post-edit-button:hover {
	color: white;
}

.post-edit-button:before {
	position: absolute;
	left: 6px;
	top: 5px;
}

.post-remove-button:before {
	position: absolute;
	left: 5px;
	top: 6px;
}

.delete-confirm-modal {
	font-family: 'Playfair Display';
	font-weight: bold;
}

.delete-confirm-modal .modal-title {
	display: inline;
	color: red;
}
