/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.conteiner-side-margin {
		margin: 0 8%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

.menu-list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	border-top: 1px solid rgb(248, 244, 244);
	border-bottom: 1px solid rgb(248, 244, 244);
	padding: 15px 0;
}

	.menu-list li {
		margin-right: 35px;
		display: inline;
	}


		.menu-list li:last-child {
			margin-right: 0;
		}

		.menu-list li a {
			text-decoration: none;
			font-size: 18px;
			letter-spacing: .05em;
			color: rgba(0,0,0,.7);
			font-weight: 700;
			font-family: Playfair Display;
		}

			.menu-list li a:hover {
				color: #333;
				cursor: pointer;
			}
#header1 {
	margin-top: 25px;
	margin-bottom: 15px;
}

.conteiner-side-margin {
	width: auto !important;
}


.content {
	margin-top: 50px;
}